In [ ]:
import os

# Get the current working directory
script_directory = os.getcwd()

# Print the script directory
print("Script Directory:", script_directory)

In [69]:
# Dependencies
import requests
import json
import os
import pandas as pd
import numpy as np
from config import gkey
import gmaps

In [70]:
# Google developer API key
gkey = "AIzaSyBPqTW_jbfLM7KUAKC9If7WPfdH-swvow4"

In [71]:
# Set up the target URL for the geocode API call
def geocode_results(address):
    target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
                  'address={0}&key={1}').format('country', gkey)
    response = requests.get(target_url).json()
    return response['results']

In [72]:
happiness_19_df = pd.read_csv(os.path.join('C:/Users/roelj/OneDrive/Desktop/school/Project-3/csv/happy_2019.csv'))
happiness_20_df = pd.read_csv(os.path.join('C:/Users/roelj/OneDrive/Desktop/school/Project-3/csv/happy_2020.csv'))
happiness_21_df = pd.read_csv(os.path.join('C:/Users/roelj/OneDrive/Desktop/school/Project-3/csv/happy_2021.csv'))
country_df = pd.read_csv(os.path.join(r'C:\Users\roelj\OneDrive\Desktop\school\Project-3\csv\countries.csv'))
country_location_df = pd.read_csv(os.path.join('C:/Users/roelj/OneDrive/Desktop/school/Project-3/csv/country_locations.csv'))

In [73]:
country_location_df["Lat"] = ""
country_location_df["Lng"] = ""
country_location_df.head()

   Unnamed: 0.1  Unnamed: 0      country  country_id Lat Lng
0             0           0  Afghanistan           1
1             1           1      Albania           2
2             2           2      Algeria           3
3             3           3       Angola           4
4             4           4    Argentina           5

In [74]:
for index, row in country_location_df.iterrows():
    city = row['country']
    results = geocode_results(f"{city}")

    if results:  # Check if results is not empty
        if len(results) > 0:  # Check if results has elements
            country_location_df.loc[index, "Lat"] = results[0]["geometry"]["location"]["lat"]
            country_location_df.loc[index, "Lng"] = results[0]["geometry"]["location"]["lng"]
        else:
            print(f"No results found for {city}.")
    else:
        print(f"No results found for {city}.")

No results found for Afghanistan.
No results found for Albania.
No results found for Algeria.
No results found for Angola.
No results found for Argentina.
No results found for Armenia.
No results found for Australia.
No results found for Austria.
No results found for Azerbaijan.
No results found for Bahrain.
No results found for Bangladesh.
No results found for Belarus.
No results found for Belgium.
No results found for Belize.
No results found for Benin.
No results found for Bhutan.
No results found for Bolivia.
No results found for Bosnia and Herzegovina.
No results found for Botswana.
No results found for Brazil.
No results found for Bulgaria.
No results found for Burkina Faso.
No results found for Burundi.
No results found for Cambodia.
No results found for Cameroon.
No results found for Canada.
No results found for Central African Republic.
No results found for Chad.
No results found for Chile.
No results found for China.
No results found for Colombia.
No results found for Comoros.
No results found for Congo (Brazzaville).
No results found for Congo (Kinshasa).
No results found for Costa Rica.
No results found for Croatia.
No results found for Cyprus.
No results found for Czech Republic.
No results found for Denmark.
No results found for Djibouti.
No results found for Dominican Republic.
No results found for Ecuador.
No results found for Egypt.
No results found for El Salvador.
No results found for Estonia.
No results found for Ethiopia.
No results found for Finland.
No results found for France.
No results found for Gabon.
No results found for Georgia.
No results found for Germany.
No results found for Ghana.
No results found for Greece.
No results found for Guatemala.
No results found for Guinea.
No results found for Haiti.
No results found for Honduras.
No results found for Hong Kong.
No results found for Hong Kong S.A.R., China.
No results found for Hungary.
No results found for Iceland.
No results found for India.
No results found for Indonesia.
No results found for Iran.
No results found for Iraq.
No results found for Ireland.
No results found for Israel.
No results found for Italy.
No results found for Ivory Coast.
No results found for Jamaica.
No results found for Japan.
No results found for Jordan.
No results found for Kazakhstan.
No results found for Kenya.
No results found for Kosovo.
No results found for Kuwait.
No results found for Kyrgyzstan.
No results found for Laos.
No results found for Latvia.
No results found for Lebanon.
No results found for Lesotho.
No results found for Liberia.
No results found for Libya.
No results found for Lithuania.
No results found for Luxembourg.
No results found for Macedonia.
No results found for Madagascar.
No results found for Malawi.
No results found for Malaysia.
No results found for Mali.
No results found for Malta.
No results found for Mauritania.
No results found for Mauritius.
No results found for Mexico.
No results found for Moldova.
No results found for Mongolia.
No results found for Montenegro.
No results found for Morocco.
No results found for Mozambique.
No results found for Myanmar.
No results found for Namibia.
No results found for Nepal.
No results found for Netherlands.
No results found for New Zealand.
No results found for Nicaragua.
No results found for Niger.
No results found for Nigeria.
No results found for North Cyprus.
No results found for Norway.
No results found for Oman.
No results found for Pakistan.
No results found for Palestinian Territories.
No results found for Panama.
No results found for Paraguay.
No results found for Peru.
No results found for Philippines.
No results found for Poland.
No results found for Portugal.
No results found for Puerto Rico.
No results found for Qatar.
No results found for Romania.
No results found for Russia.
No results found for Rwanda.
No results found for Saudi Arabia.
No results found for Senegal.
No results found for Serbia.
No results found for Sierra Leone.
No results found for Singapore.
No results found for Slovakia.
No results found for Slovenia.
No results found for Somalia.
No results found for Somaliland Region.
No results found for Somaliland region.
No results found for South Africa.
No results found for South Korea.
No results found for South Sudan.
No results found for Spain.
No results found for Sri Lanka.
No results found for Sudan.
No results found for Suriname.
No results found for Swaziland.
No results found for Sweden.
No results found for Switzerland.
No results found for Syria.
No results found for Taiwan.
No results found for Taiwan Province of China.
No results found for Tajikistan.
No results found for Tanzania.
No results found for Thailand.
No results found for Togo.
No results found for Trinidad and Tobago.
No results found for Tunisia.
No results found for Turkey.
No results found for Turkmenistan.
No results found for Uganda.
No results found for Ukraine.
No results found for United Arab Emirates.
No results found for United Kingdom.
No results found for United States.
No results found for Uruguay.
No results found for Uzbekistan.
No results found for Venezuela.
No results found for Vietnam.
No results found for Yemen.
No results found for Zambia.
No results found for Zimbabwe.

In [75]:
for index, row in country_location_df.iterrows():
    city = row['country']
    results = geocode_results(f"{city}")

    country_location_df.loc[index, "Lat"] = results[0]["geometry"]["location"]["lat"]
    country_location_df.loc[index, "Lng"] = results[0]["geometry"]["location"]["lng"]

IndexError: list index out of range

In [68]:
country_location_df.head()

   Unnamed: 0.1  Unnamed: 0      country  country_id Lat Lng
0             0           0  Afghanistan           1
1             1           1      Albania           2
2             2           2      Algeria           3
3             3           3       Angola           4
4             4           4    Argentina           5

In [76]:
country_location_df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'country', 'country_id', 'Lat', 'Lng'], dtype='object')

In [77]:
country_location_df.drop(columns = ['Unnamed: 0'],axis=1)

     Unnamed: 0.1      country  country_id Lat Lng
0               0  Afghanistan           1
1               1      Albania           2
2               2      Algeria           3
3               3       Angola           4
4               4    Argentina           5
..            ...          ...         ...  ..  ..
161           161    Venezuela         162
162           162      Vietnam         163
163           163        Yemen         164
164           164       Zambia         165
165           165     Zimbabwe         166

[166 rows x 5 columns]