In [1]:
# Import necessary libraries
import os
import pandas as pd

In [2]:
# Load the datasets for the corresponding years
happiness_19_df = pd.read_csv(os.path.join('C:/Users/roelj/OneDrive/Desktop/school/Project-3/csv/happy_2019.csv'))
happiness_20_df = pd.read_csv(os.path.join('C:/Users/roelj/OneDrive/Desktop/school/Project-3/csv/happy_2020.csv'))
happiness_21_df = pd.read_csv(os.path.join('C:/Users/roelj/OneDrive/Desktop/school/Project-3/csv/happy_2021.csv'))
country_df = pd.read_csv(os.path.join(r'C:\Users\roelj\OneDrive\Desktop\school\Project-3\csv\countries.csv'))
country_location_df = pd.read_csv(os.path.join('C:/Users/roelj/OneDrive/Desktop/school/Project-3/csv/country_locations.csv'))

In [3]:
country_location_df.head()

   Unnamed: 0.1  Unnamed: 0      country  country_id        Lat        Lng
0             0           0  Afghanistan           1  33.939110  67.709953
1             1           1      Albania           2  41.153332  20.168331
2             2           2      Algeria           3  28.033886   1.659626
3             3           3       Angola           4 -11.202692  17.873887
4             4           4    Argentina           5 -38.416097 -63.616672

In [4]:
country_lat_dict = {}
country_long_dict = {}
for index,row in country_location_df.iterrows():
    country_name = row['country']
    country_lat = row['Lat']
    country_long = row['Lng']
    country_lat_dict[country_name] = country_lat
    country_long_dict[country_name] = country_long

In [5]:
happiness_19_df['Latitude'] =""
happiness_20_df['Latitude'] =""
happiness_21_df['Latitude'] =""
country_df['Latitude'] =""
happiness_19_df['Longitude'] =""
happiness_20_df['Longitude'] =""
happiness_21_df['Longitude'] =""
country_df['Longitude'] =""

In [6]:
def add_lat_long(df):
    for index,row in df.iterrows() :
        try:
            df.loc[index,'Latitude'] = country_lat_dict.get(row['Country'])
            df.loc[index,'Longitude'] = country_long_dict.get(row['Country'])
        except:
            continue

In [7]:
add_lat_long(happiness_19_df)
add_lat_long(happiness_20_df)
add_lat_long(happiness_21_df)
add_lat_long(country_df)

In [8]:
happiness_19_df = pd.read_csv(os.path.join('C:/Users/roelj/OneDrive/Desktop/school/Project-3/csv/happy_2019.csv'))
happiness_20_df = pd.read_csv(os.path.join('C:/Users/roelj/OneDrive/Desktop/school/Project-3/csv/happy_2020.csv'))
happiness_21_df = pd.read_csv(os.path.join('C:/Users/roelj/OneDrive/Desktop/school/Project-3/csv/happy_2021.csv'))
country_df = pd.read_csv(os.path.join(r'C:\Users\roelj\OneDrive\Desktop\school\Project-3\csv\countries.csv'))